{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="position-relative mt-5 mb-4">
    <h1 class="text-center">Parking Lots</h1>
    <!-- Create Lot Modal trigger-->
    <button type="button" class="btn btn-dark position-absolute top-0 end-0 createLot" data-bs-toggle="modal"
        data-bs-target="#createLotModal" style="margin-top: 4px; margin-right: 150px;">
        + Create Parking Lot
    </button>
</div>

<div class="text-center">
    <div class="row justify-content-center">
        {% for lot in lots %}
        {% include 'components/lot_card.html' %}
        {% endfor %}
    </div>
</div>

<!-- Create Parking Lot Modal -->
<div class="modal fade" id="createLotModal" tabindex="-1" aria-labelledby="createLotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createLotModalLabel">Create a Parking Lot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <form class="form-main" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.primary_location.label() }} <br>
                            {{ form.primary_location(class="form-control", placeholder="Primary Location") }}
                        </div>
                        <div class="mb-3">
                            {{ form.full_address.label() }}<br>
                            {{ form.full_address(class="form-control", placeholder="Full Address") }}
                        </div>
                        <div class="mb-3">
                            {{ form.pincode.label() }}<br>
                            {{ form.pincode(class="form-control", placeholder="Pin Code") }}
                        </div>
                        <div class="mb-3">
                            {{ form.cost_per_unit.label() }}<br>
                            {{ form.cost_per_unit(class="form-control", placeholder="Price Per Hour") }}
                        </div>
                        <div class="mb-3">
                            {{ form.max_spots.label() }}<br>
                            {{ form.max_spots(class="form-control", placeholder="Maximum Spots") }}
                        </div>
                        <div class="modal-footer">
                            {{ form.submit(class="form-submit btn btn-lg btn-block btn-primary") }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}