{% extends "base.html" %}
{% block title %}
Registered Users
{% endblock %}

{% block content %}
<div class="table-hover d-flex justify-content-center" style="margin-top: 30px; margin-left: 30px;">
    <div class="col-8 text-center">
        <h1 class="text-center mt-3 mb-4">Registered Users Details</h1>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Username</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Parking History</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.email_address}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.contact_number}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.pincode}}</td>
                    <td><a href = "{{ url_for('user_parking_history', user_id=user.id) }}" class="btn btn-info btn-sm">View parking history</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}